@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:opsz,wght@14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --small: 13px;
    --p: 16px;
    --h6: 21px;
    --h5: 26px;
    --h4: 42px;
    --h3: 59px;
    --h2: 84px;
    --h1: 119px;
    --cta-logo-cize: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5 {
    font-size: var(--h5);
    font-weight: 300;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--p);
    background-color: rgb(244, 241, 241);
}

.main {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    max-height: 100%;
    padding: 2rem 0;
    background-color: #f5e5c4;
}

.side-menu .home-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.side-menu .btn, .side-menu .tab {
    padding: 12px 6px;
    width: 250px;
    border-radius: .5rem;
    cursor: pointer;
    padding-left: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-menu .project-title {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* line-height: 2.1; */
}

.side-menu .btn:hover, .side-menu li:hover {
    background-color: #dacfa6;
}

.side-menu .add-task-btn {
    margin-bottom: 1rem;
}

.side-menu .projects-section .projects-heading {
    margin-bottom: 1rem;
}

.side-menu .projects-section .projects-list {
    margin-bottom: 1rem;
}

.side-menu .active {
    background-color: #dacfa6;
}

.projects-list .tab .active, .projects-list .tab .active:hover {
    background-color: #dacfa6;
}

.forms {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    gap: 5rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-list-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects-list-tab .project-delete-btn {
    display: none;
    justify-content: center;
    align-items: center;
    
    min-width: 25px;
    min-height: 25px;

    margin-right: 10px;

    border-radius: 4px;

    background-color: #b0a57d;
}

.projects-list-tab:hover .project-delete-btn {
    display: flex;
}

.projects-list-tab .project-delete-btn:hover {
    background-color: #c3b78b;
}

.projects-list-tab .project-delete-btn:active {
    background-color: #b0a57d;
}

.project-delete-icon {
    width: 20px;
}

.tasks-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    height: fit-content;
}

.content {
    padding: 1rem;
}

.task-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 358px;
    height: 200px;
    font-size: var(--small);

    padding: .7rem 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);

    border: 2px solid rgb(82, 82, 82);

    position: relative;
}

.task-div:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
}

.task-div .task-title, .task-div .project-title {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-div .task-title {
    font-size: var(--h6);
}

.task-div .project-title {
    color: rgb(135, 135, 135);
}

.task-div .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-div .due-date-wrapper, .task-div .priority-wrapper, .task-div .heading, .task-div .description, .side-menu .projects-heading {
    cursor: default;
}

.task-div .task-options-btn, .task-div .due-date-wrapper, .task-div .priority-wrapper {
    border-radius: 100px;
    width: fit-content;
    padding: 1px 7px;

    position: absolute;
}

.task-div .important-btn {
    background-image: url('assets/important-btn/important-btn-inactive.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;

    border-radius: 0;
    
    width: 26px;
    height: 26px;

    cursor: pointer;
    
    position: absolute;
    top: .7rem;
    right: 2.9rem;
}

.task-div .important-btn.active {
    background-image: url('assets/important-btn/important-btn-active.png');
}

.task-div .task-options-btn {
    background-color: rgb(216, 216, 216);
    right: .5rem;
    top: .5rem;
    padding: 1px 8px;
    cursor: pointer;
    font-size: 20px;
}

.task-div .task-options-btn:hover {
    background-color: rgb(190, 190, 190);
}

.task-div .task-options-btn:active {
    background-color: rgb(216, 216, 216);
}

.task-options-container {
    display: none;
    
    width: 70px;
    background-color: #cecece;
    
    position: absolute;
    top: 30px;
    right: -40px;
    z-index: 999;
}

.task-options-container {
    padding: 5px;
    border-radius: 10px;
}

.task-options-wrapper .show {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.task-options-container .dropdown-option {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.task-options-container .dropdown-option:hover {
    background-color: #e1e1e1;
}

.task-div .due-date-wrapper {
    background-color: rgb(172, 194, 236);
    right: .5rem;
    bottom: .6rem;
}

.task-div .priority-wrapper {
    background-color: rgb(250, 145, 122);
    left: .5rem;
    bottom: .6rem;
}

.due-date, .priority {
    font-weight: 500;
}